.content .header {
    background-color: white;
    .header-option {
        width: 70%;
        margin: 0 auto;
    }
}

.content .body {
    background-color: #fcfaf2;
    padding-bottom: 10px;
    padding-top: 10px;

    .body-option {
        width: 70%;
        margin: 0 auto;
    }
}
