.incorrect-word-filler {
    .english {
        span {
            margin-left: 50px;
            font-size: 50px;
            font-weight: bold;
        }
    }

    .vietnam {
        span {
            margin-left: 20px;
            font-size: 30px;
        }
    }

    .writed {
        text-align: center;
    }

    .fill {
        margin-left: 90px;

        .tag {
            text-align: center;

            .mark {
                padding: 2px 20px;
                border-radius: 10px;
            }
        }
    }

    .input {
        height: 50px;
        border-radius: 10px;
    }

    .input--success {
        border-color: #3e8a69;
        background-color: #4ead84;
    }

    .input--incorrect {
        border-color: #e16361;
        background-color: #e98d8c;
    }
}
