.word-filler {
    .tag {
        text-align: center;

        .mark {
            padding: 2px 20px;
            border-radius: 10px;
        }
    }

    .seen-question {
        text-align: center;
    }
}
